<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../elemento-b/elemento-b.html">

<dom-module id="elemento-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    
    <template  is="dom-if" if="[[comA]]">

      <h2>Hello [[title]]!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Harum quas distinctio voluptatum ipsam nulla, ex esse doloremque
          tempora odit ut autem quam eos ad impedit aliquid repellendus 
          delectus earum cupiditate!
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Harum quas distinctio voluptatum ipsam nulla, ex esse doloremque
          tempora odit ut autem quam eos ad impedit aliquid repellendus 
          delectus earum cupiditate!
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Harum quas distinctio voluptatum ipsam nulla, ex esse doloremque
          tempora odit ut autem quam eos ad impedit aliquid repellendus 
          delectus earum cupiditate!
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Harum quas distinctio voluptatum ipsam nulla, ex esse doloremque
          tempora odit ut autem quam eos ad impedit aliquid repellendus 
          delectus earum cupiditate!
      </p>

    </template>
    
    
    
    <template is="dom-if" if="[[comB]]">
      <elemento-b  ></elemento-b>
    </template>
    
    
    
    
   
    

    

    <template is="dom-if" if="[[boton]]">
      <paper-button on-click='elementoC'>B</paper-button>
      <paper-button on-click='elementoB'>C</paper-button>
    </template>
    

  </template>

  <script>
    /**
     * `elemento-a`
     * elemento-a
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementoA extends Polymer.Element {
      static get is() { return 'elemento-a'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'elemento-a-padre'
          },
          comA:{
            type:Boolean,
            value: true
          },
          comB:{
            type:Boolean,
            value: false
          },
          comC:{
            type:Boolean,
            value: true
          },
          boton:{
            type:Boolean,
            value: true
          }
        
        };
      }
      elementoB(){
        this.comA = false
        this.comB = true
      }
      elementoC(){
        this.comB= true 
        this.comA = false
        this.boton = false
      }

    }

    window.customElements.define(ElementoA.is, ElementoA);
  </script>
</dom-module>
